<script lang="ts" setup>
import { ref } from "vue";
import angry from "../../feeling_imgs/angry.png";
import cute from "../../feeling_imgs/cute.png";
import excited from "../../feeling_imgs/excited.png";
import pain from "../../feeling_imgs/pain.png";
import shocked from "../../feeling_imgs/shocked.png";
import smile from "../../feeling_imgs/smile.png";
const result = ref("Smile");
const onClick = (name: string) => {
  result.value = name;
};
</script>
<template>
  <v-container
    ><v-row>
      <v-col>
        <v-img v-if="result === 'Angry'" :src="angry"></v-img>
        <v-img v-if="result === 'Smile'" :src="smile"></v-img>
        <v-img v-if="result === 'Cute'" :src="cute"></v-img>
        <v-img v-if="result === 'Excited'" :src="excited"></v-img>
        <v-img v-if="result === 'Pain'" :src="pain"></v-img>
        <v-img v-if="result === 'Shocked'" :src="shocked"></v-img>
      </v-col>
      <v-col class="d-flex flex-column mb-6">
        <p class="text-h1 text-center mt-5 mb-4">{{ result }}</p>

        <v-btn
          class="mb-4"
          @click="onClick('Angry')"
          :color="result == 'Angry' ? 'yellow' : 'undefined'"
          >ANGRY</v-btn
        >
        <v-btn
          class="mb-4"
          @click="onClick('Smile')"
          :color="result == 'Smile' ? 'yellow' : 'undefined'"
          >SMILE</v-btn
        >
        <v-btn
          class="mb-4"
          @click="onClick('Cute')"
          :color="result == 'Cute' ? 'yellow' : 'undefined'"
          >CUTE</v-btn
        >
        <v-btn
          class="mb-4"
          @click="onClick('Excited')"
          :color="result == 'Excited' ? 'yellow' : 'undefined'"
          >EXCITED</v-btn
        >
        <v-btn
          class="mb-4"
          @click="onClick('Pain')"
          :color="result == 'Pain' ? 'yellow' : 'undefined'"
          >PAIN</v-btn
        >
        <v-btn
          class="mb-4"
          @click="onClick('Shocked')"
          :color="result == 'Shocked' ? 'yellow' : 'undefined'"
          >SHOCKED</v-btn
        >
      </v-col>
    </v-row></v-container
  >
</template>

<style scoped></style>
