<script lang="ts" setup>
import { ref } from "vue";

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);
interface Props {
  id: number;
  name: string;
  price: number;
}
const sum = ref(0);
const selects = ref<Props[]>([]);
const onClick = (item: Props) => {
  selects.value.push(item);
  sum.value = sum.value + item.price;
};
</script>
<template>
  <v-container>
    <v-row>
      <v-col
        cols="6"
        class="flex-wrap d-flex overflow-y-auto h-screen justify-center"
        ><v-card
          class="v-col-4 ma-5"
          v-for="item of products"
          :key="item.id"
          max-width="150px"
          ><v-card-title class="text-overline mb-1 text-center">{{
            item.name
          }}</v-card-title>
          <v-card-text class="text-overline mb-1 text-center pa-0">{{
            item.price
          }}</v-card-text>
          <v-card-actions class="justify-center">
            <v-btn @Click="onClick(item)">ADD</v-btn>
          </v-card-actions>
        </v-card></v-col
      >

      <v-col cols="6"
        ><v-table height="600px">
          <thead>
            <tr>
              <th>id</th>
              <th>name</th>
              <th>price</th>
            </tr>
          </thead>
          <tbody v-if="selects.length === 0">
            <td colspan="4">
              <p class="text-center text-h5">NO Data</p>
            </td>
          </tbody>
          <tbody v-if="selects.length > 0">
            <tr v-for="(item, index) in selects" :key="index">
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.price }}</td>
            </tr>
          </tbody> </v-table
        ><v-container
          ><p class="font-weight-bold text-h2">Sum: {{ sum }}</p></v-container
        ></v-col
      >
    </v-row>
  </v-container>
</template>
