<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const Counter = useCounterStore();
</script>
<template>
  <div>First Component</div>
  <p>{{ Counter.count }}</p>
  <v-btn @Click="Counter.increment">INCREMENT</v-btn>
</template>
