<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const Counter = useCounterStore();
</script>
<template>
  <div>Second Component</div>
  <p>{{ Counter.doubleCount }}</p>
  <v-btn @Click="Counter.dcrease"> DECREASE</v-btn>
</template>
